# Strings

- Strings in python are surrounded by either single quotation marks, or double quotation marks.

- 'India' is the same as "India"

### Create a variable containing STRING

In [ ]:
a = "India"
print(a)

India

In [ ]:
## Multiline Strings: should enclosed within triple single/double quotes

a = """This is a multiline string.
I am writing this string for demo purpose.
You can see it is enclosed within thrice double quotes"""

print(a)

# you can notice in result that new line is printed same as it is written

This is a multiline string.
I am writing this string for demo purpose.
You can see it is enclosed within thrice double quotes

### Slicing
- You can slice the string by passing its index.
- Positive index start from ZERO and goes from left to right
- Negative index start from -1 and goes from right from left
- Starting index starts slicing from same index
- Ending index ends slicing one step before.
- Syntax: string[Start : Stop : Step]

![image.png]()

In [ ]:
# Slice string from index 2 to 4
# You can notice slicing start from 2(start index) but it ended at 3 instead of 4
country = "India"
country[2:4]

'di'

In [ ]:
# Slice From the Start: If start index missing it will take default=0
country = "India"
country[:4]

'Indi'

In [ ]:
# Slice To the End: If end index missing then it will take default=last index
country = "India"
country[2:]

'dia'

### Negative Indexing
- You can use negative index in same as we used positive

In [ ]:
# Slice letters di using negative indexing
country = "India"
country[-3:-1]

'di'

### Steps In Slicing
- Steps decide the direction of printing for sliced index and how many stpes
- Positive step means left to right and negative step means right to left
- Default step=1, means take a 1 step from left to right.
- Step=-2, means take 2 steps from right to left
- Approach should be as following
1. Start slicing from StartIndex
2. End slicing at EndIndex-1
3. After slicing between start and end index check step
4. Print letter as per step sign and value

In [ ]:
# Slice with step 2: You can notice in result, after "H" it took 2 steps in right side to letter "l" and continue to do same
string = "Hello World"
string[0:12:2]

'HloWrd'

In [ ]:
# Slice with step 3
string = "Hello World"
string[0:12:3]

'HlWl'

In [ ]:
# Slice with step -1: You can see result only letter "H", why? reason StartIndex=0 and EndIndex=Last letter
# step=-1 means it will start printing from "H"
# further will take 1 step in left side and will end.
string = "Hello World"
string[0::-1]

'H'

In [ ]:
# Slice string in reverse order: Notice StartIndex=0 and EndIndex=last letter step=-1, means it will start printing it from right to left
string = "Hello World"
string[::-1]

'dlroW olleH'

### String Concatenation
- To concatenate, or combine, two strings you can use the + operator.
- If you want to add space then use syntax: a+" "+b

In [ ]:
# Without Space
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
# with space
a = "Hello"
b = "World"
c = a + " " + b
print(c)

### String Format
- format() method takes the arguments in sequence and place them at placeholder {}
- if inside curly bracket, you are putting 1 like {2} then firt passed argument will get placed at {2}

In [ ]:
a = "My Name Is {} and I am {} years old".format("Rahul",21)
print(a)

My Name Is Rahul and I am 21 years old

In [ ]:
# Now pass position of passed arguments: You can notice that {1} replaced with 21 and {0} replaced with Rahul
# reason index of Rahul=0 and 21=1 in passed arguments
a = "My Name Is {1} and I am {0} years old".format("Rahul",21)
print(a)

My Name Is 21 and I am Rahul years old

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
name ="Rahul"
age = 20
print(f"I am {name} and I am {age} yeaar old")

I am Rahul and I am 20 yeaar old

### Escape Character
- Escape character are used to escape illegal character in string
- An example of an illegal character is a double quote inside a string that is surrounded by double quotes
- backslash "\" is used to escape the character

In [ ]:
# We will get error if used double quote inside double quoted string
txt = "This is the "demo" string"

In [ ]:
# In order to escape those double quotes of word demo,use the escape character backslash
txt = "This is the \"demo\" string"

### Commonly used ESCAPE character

In [ ]:
# Single Quote
string = 'It\'s correct.'
print(string)

It's correct.

In [ ]:
# Backslash
string = "Lets insert one \\ (backslash)."
print(string)

Lets insert one \ (backslash).

In [ ]:
# New Line
string = "Hello\nWorld!"
print(string)

Hello
World!

In [ ]:
# Tab
string = "Hello\tWorld!"
print(string)

Hello	World!

### Popular String Methods

<h4> 1. capitalize(): Converts the first character to upper case </h4>

In [ ]:
string = "this will convert first character to upper case"

x = string.capitalize()

print (x)

This will convert first character to upper case

<h4> 2. center(): Returns a centered string after padding it with the specified character</h4>

In [ ]:
string = "India"

x = string.center(20,"#")

print(x)

#######India########

<h4> 3. count() : Returns the number of times a specified value occurs in a string</h4>

In [ ]:
string = "Take left and then take first left"

x = string.count("left")

print(x)

2

<h4> 4. lower(): Converts a string into lower case </h4>

In [ ]:
string ="RAHUL IS GOOD BOY"
lower_string = string.lower()
print(lower_string)

this is upper case sentence

<h4>5. upper(): Converts a string into upper case</h4>

In [ ]:
string ="rahul is good boy"
upper_string = string.upper()
print(upper_string)

RAHUL IS GOOD BOY

<h4>6. replace(): replace specified value with given value</h4>

In [ ]:
string = "I love apple"

x = string.replace("apple", "mango")

print(x)

I love mango

<h4>7.title()	Converts the first character of each word to upper case </h4>

In [ ]:
string = "Rahul is good boy"

x = string.title()

print(x)

Rahul Is Good Boy

<h4>8. swapcase(): Swaps cases, lower case becomes upper case and vice versa

In [ ]:
string = "RAHUL is good BOY"

x = string.swapcase()

print(x)

rahul IS GOOD boy

<h4>9. index(): It returns index of given value </h4>

In [ ]:
string = "RAHUL is good BOY"

x = string.index("is")

print(x)

6

<h4>10. split(): It breaks string from given value and creates list</h4>

In [ ]:
# split the string using space
string = "Rahul is good boy"
split_string = string.split(" ")
print(split_string)

['Rahul', 'is', 'good', 'boy']

## String Methods

1. capitalize()	Converts the first character to upper case

2. casefold()	Converts string into lower case

3. center()	Returns a centered string

4. count()	Returns the number of times a specified value occurs in a string

5. encode()	Returns an encoded version of the string

6. endswith()	Returns true if the string ends with the specified value

7. expandtabs()	Sets the tab size of the string

8. find()	Searches the string for a specified value and returns the position of where it was found

9. format()	Formats specified values in a string

10. format_map()	Formats specified values in a string

11. index()	Searches the string for a specified value and returns the position of where it was found

12. isalnum()	Returns True if all characters in the string are alphanumeric

13. isalpha()	Returns True if all characters in the string are in the alphabet

14. isdecimal()	Returns True if all characters in the string are decimals

15. isdigit()	Returns True if all characters in the string are digits

16. isidentifier()	Returns True if the string is an identifier

17. islower()	Returns True if all characters in the string are lower case

18. isnumeric()	Returns True if all characters in the string are numeric

19. isprintable()	Returns True if all characters in the string are printable

20. isspace()	Returns True if all characters in the string are whitespaces

21. istitle()	Returns True if the string follows the rules of a title

22. isupper()	Returns True if all characters in the string are upper case

23. join()	Joins the elements of an iterable to the end of the string

24. ljust()	Returns a left justified version of the string

25. lower()	Converts a string into lower case

26. lstrip()	Returns a left trim version of the string

27. maketrans()	Returns a translation table to be used in translations

28. partition()	Returns a tuple where the string is parted into three parts

29. replace()	Returns a string where a specified value is replaced with a specified value

30. rfind()	Searches the string for a specified value and returns the last position of where it was found

31. rindex()	Searches the string for a specified value and returns the last position of where it was found

32. rjust()	Returns a right justified version of the string

33. rpartition()	Returns a tuple where the string is parted into three parts

34. rsplit()	Splits the string at the specified separator, and returns a list

35. rstrip()	Returns a right trim version of the string

36. split()	Splits the string at the specified separator, and returns a list

37. splitlines()	Splits the string at line breaks and returns a list

38. startswith()	Returns true if the string starts with the specified value

39. strip()	Returns a trimmed version of the string

40. swapcase()	Swaps cases, lower case becomes upper case and vice versa

41. title()	Converts the first character of each word to upper case

42. translate()	Returns a translated string

43. upper()	Converts a string into upper case

44. zfill()	Fills the string with a specified number of 0 values at the beginning

# Exercise

In [ ]:
# 1. Write a python program to calculate the lenght of string
string = "Data is new oil"

In [ ]:
# 2. Find the count of word "data".
string = "data is new oil hence data science is emerging field"

In [ ]:
# 3. Using string slicing and step print result="IDA"
string = "INDIA"

In [ ]:
# 4. Replace "good" with "bad"
string = "Rahul is good boy"

In [ ]:
# 5. Check if string starts with "data"
string = "data is new oil"

In [ ]:
# 6. print the starting index of "boy"
string = "Rahul is good boy"

In [ ]:
# 7. swape the upper case to lower case and lower case to upper case
string = " DATA is new OIL"

In [ ]:
# 8. Split the sentence at every slash "/"
string = "data/is/new/oil"